Repository simon-hirsch/ondil, pull requests merged in 2025-05, with the labels that each got.

#77 Cautious updates
  src/rolch/distributions/johnsonsu.py
  src/rolch/estimators/online_gamlss.py
  src/rolch/methods/ridge.py
Labels: estimators

#69 lognormal and lognormal2 Implementation
  src/rolch/__init__.py
  src/rolch/distributions/__init__.py
  src/rolch/distributions/lognormal.py
  src/rolch/distributions/lognormalmedian.py
  tests/test_python_against_r.py
Labels: enhancement, distributions

#90 GitHub Actions: Add R and r2py
  .github/workflows/ci_run_tests_deps.yml
  .github/workflows/ci_run_tests_os.yml
  tests/distributions/normal/test_derivatives.py
Labels: enhancement, testing
